.seuprojeto {
    /* right: -100%; */
    width: 200px;
    color: #ffffff;
    padding:1%;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.2cm;
    font-family: Inter;
    font-weight: normal;
    font-size: 12px;
  }

#nomedoprojeto {
    font-family: Inter;
    color: #ffffff;
    width: 272px;
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    margin-bottom: 5%;
}


#descricaoprojeto {
    font-family: Inter;
    color: #ffffff;
    width: 272px;
    height: 80px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.personalizacao {
    width: 130px;
    color: #ffffff;
    padding:1%;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.2cm;
    font-family: Inter;
    font-weight: normal;
    font-size: 12px;
    margin-top: 15%;
    
}

#escolhaotipo {
    font-family: Inter;
    color: #ffffff;
    width: 272px;
    height: 56px;
    background: rgba(196, 196, 196, 0.01);
    border-radius: 8px;
    margin-bottom: 2%;
}

option:not(:checked) {
    background-color: #051d3b;
  }

  option:checked {
    background-color: #051d3b;
  }

#editordecor {
    margin: 2px 4px;
    width: calc(100% - 8px);
    height: 44px;
/* width: 272px;
height: 56px; */
background: rgba(255, 255, 255, 0.01);
border: 1px solid #ffffff;
box-shadow: border-box; 
border-radius: 8px;
background-color: transparent;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
cursor: pointer;

 }

 #editordecor::-webkit-color-swatch{
    border-radius: 4px;
    border:none;
}
#editordecor::-moz-color-swatch{
    border-radius: 4px;
    border:none;
}

Message #general


.projectcolor {
    width: 256px;
    height: 40px;
    background: #6BD1FF;
    border-radius: 8px;
    
  
}

.projectsave {
    width: 272px;
    height: 56px;
    background: #5081fb;
    border-radius: 8px;
    border: none;
    margin-top: 4%;
}

#descricaoprojeto:hover { 
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
  }

  #nomedoprojeto:hover { 
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
  }
